{erl_opts, [debug_info]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
       {lager, {git,"https://github.com/erlang-lager/lager.git",{branch, "2.x"}}},
       {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}}	
       ]}.    

{shell, [
   {config, "config/sys.config"},
   {apps, [hacker_stories]}
]}.

{profiles, [{test,
             [{deps, [ {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}}]}]}
		      ]}.    	   
