[{hacker_stories,
	[ {rest_port,          8000},
          {top_stories_number, 50  }]
},

{lager, [
  {log_root, "log/"},
  {handlers, [
    {lager_console_backend, [
      %error,
      debug,
      {lager_default_formatter, [time, " ", {module,
         [module, {line, [":", line], ""}], ""}, " ", color,  message, {eol, "\e[0m\r\n"}]}
    ]},    
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}

].
